* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
header {
  width: 100%;
  height: 50px;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
#appicon {
  margin-top: 50px;
}
.headers-links {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.footer-links {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
main {
  text-align: center;
  width: auto;
  margin: 100px;
  height: 400px;
}
#google {
  margin: 20px;
  width: auto;
  height: auto;
}
.footer-left {
  float: left;
}
.footer-right {
  float: right;
}
footer {
  margin-top: 280px;
  margin-bottom: 0;
  width: 100%;
}

#microphone {
  width: 18px;
  height: 22px;
  position: relative;
  bottom: 35px;
  left: 160px;
}

#magnify {
  width: 28px;
  height: 28px;
  position: relative;
  bottom: 33px;
  right: 155px;
}

#button {
  margin: 10px;
}

#search {
  width: 400px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid lightgrey;
  padding-left: 40px;
}
